:root {
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);

    --neutral-off-white: hsl(36, 100%, 99%);
    --neutral-grayish-blue: hsl(233, 8%, 79%);
    --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
    --neutral-very-dark-blue: hsl(240, 100%, 5%);

    --ft-primary: "Inter", sans-serif;
    --ft-size-primary: 15px;
    --ft-weight-normal: 400;
    --ft-weight-bold: 700;
    --ft-weight-boldest: 800;
}

/*/ ///////////////////////////////////////
/////       GENERAL STYLES          //////
////////////////////////////////////////*/

body {
    font-family: var(--ft-primary);
    font-weight: var(--ft-weight-normal);
}

main {
    padding-bottom: 64px;
}

.heading-primary {
    font-size: 3rem;
    letter-spacing: -2px;
}

.heading-secondary {
    font-size: 1.375rem;
}

.heading-tertiary {
    font-size: 1.125rem;
}

.header__nav-list,
.product-features__list,
.sidebar__list {
    list-style-type: none;
}

.btn {
    background: none;
    border: none;
}

/*/ ///////////////////////////////////////
/////              HEADER           //////
////////////////////////////////////////*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.website-logo {
    width: 50px;
}

.header__navigation {
    background-color: var(--neutral-off-white);

    position: absolute;
    top: 0;
    right: 0;
    left: 30%;

    display: none;
    flex-direction: column;

    padding-left: 24px;
    min-height: 100%;

    transform: translateX(100%);
    transition: all 0.5s ease-out;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-top: 164px;
}

.header__nav-link:is(:link, :visited) {
    color: var(--neutral-very-dark-blue);
    text-decoration: none;
}

.header__nav-link:is(:hover, :active) {
    color: var(--primary-soft-orange);
}

.btn--toggle {
    position: absolute;
    top: 32px;
    right: 16px;

    height: 30px;

    align-self: flex-end;
}

.category {
    display: block;

    font-size: 2rem;
    font-weight: var(--ft-weight-boldest);
}

/*/ ///////////////////////////////////////
/////              HEADLINE           //////
////////////////////////////////////////*/

.top-headline,
.top-headline__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 40px;
}

.top-headline__description {
    line-height: 1.7;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.btn--read-more:is(:link, :visited) {
    background-color: var(--primary-soft-red);
    color: var(--neutral-off-white);
    font-weight: var(--ft-weight-bold);
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;

    width: fit-content;
    padding: 16px 32px;
}

.btn--read-more:is(:hover, :active) {
    background-color: var(--neutral-very-dark-blue);
}

/*/ ///////////////////////////////////////
/////              ASIDE           ///////
////////////////////////////////////////*/

.sidebar {
    background-color: var(--neutral-very-dark-blue);
    color: var(--neutral-off-white);

    padding: 24px;
    margin-bottom: 64px;
}

.category--new {
    color: var(--primary-soft-orange);
    margin-bottom: 40px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar__list .item-description {
    color: var(--neutral-grayish-blue);
    line-height: 1.7;
    margin-top: 8px;
}

.sidebar__item:not(:last-child)::after {
    content: "";
    display: block;
    height: 0px;
    border: 1px solid var(--neutral-dark-grayish-blue);
    margin-top: 30px;
}

.sidebar__list a:is(:link, :visited) {
    color: var(--neutral-off-white);
    text-decoration: none;
}

.sidebar__list a:is(:hover, :active) {
    color: var(--primary-soft-orange);
}

/*/ ///////////////////////////////////////
/////           NEWS-LIST           ///////
////////////////////////////////////////*/

.latest-news__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-item {
    display: flex;
    gap: 24px;
}

.item-number {
    color: var(--neutral-grayish-blue);
    font-size: 2rem;
    font-weight: var(--ft-weight-boldest);
}

.news-item__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-item__description {
    line-height: 1.7;
}

.news-item > img {
    width: 30%;
    min-width: 25%;
    max-width: 100%;
}

.news-item a:is(:link, :visited) {
    color: var(--neutral-very-dark-blue);
    text-decoration: none;
}

.news-item a:is(:hover, :active) {
    color: var(--primary-soft-red);
}
